<p class="centered-text">Sistema bancario</p>


<button mat-button (click)="showGestionCliente = true; showGestionPrestamo = false; showSolicitudPrestamo = false;">Gestión de Clientes</button>

<button mat-button (click)="showGestionPrestamo = true; showGestionCliente = false; showSolicitudPrestamo = false;">Gestión de Préstamos</button>

<button mat-button (click)="showSolicitudPrestamo = true; showGestionCliente = false; showGestionPrestamo = false;">Solicitud de Préstamos</button>

<mat-card>
  <mat-card-content *ngIf="showGestionCliente">
    <app-gestion-cliente></app-gestion-cliente>
  </mat-card-content>

  <mat-card-content *ngIf="showGestionPrestamo">
    <app-gestion-prestamo></app-gestion-prestamo>
  </mat-card-content>

  <mat-card-content *ngIf="showSolicitudPrestamo">
    <app-solicitud-prestamo></app-solicitud-prestamo>
  </mat-card-content>
</mat-card>
